<div class="row">
  <h3> Editar Ubicación </h3>
</div>

<div class="row>"> 
  <%= simple_form_for @ubicacion do |f| %>

  <div class="row">
    <div class="col s12 m6">
      <label>Zona</label>
      <%= f.input :zona , as: :select, label: false, collection:["CE", "Plaza Aulas 1", "Aulas 2", "Pasillo CE", "A4 Norte", "A4 Sur", "A3 - A4", "Jardín de las Carreras", "Pasillo DAF", "Domo", "A1 - CIAP", "Gimnasio", "A1 - Biotecnología", "Explanada Centro Estudiantil", "DAF", "Arquitectura"]%>
    </div>
    <div class="col s12 m6">
      <label>Código</label>
      <%= f.input :codigo, :as => "integer", label: false%>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <label>Capacidad</label>
      <%= f.input :capacidad, :as => "integer", label: false%>
    </div>
    <div class="col s12 m6">
      <label>Dimensiones (m x m)</label>
      <div class="row">
      <div class="col s6">
        <%= f.input :ancho, :as => "float", label: false%>
      </div>
      <div class="col s6">
        <%= f.input :alto, :as => "float", label: false%>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <label>Horario Inicio (Hora/Min)</label>
      <%= f.input :horario_inicio, as: :time, label: false, time_separator: "", input_html: { class: 'col s6'}%>
    </div>
    <div class="col s12 m6">
      <label>Horario Fin (Hora/Min)</label>
      <%= f.input :horario_fin, as: :time, label: false, time_separator: "", input_html: { class: 'col s6'}%>
    </div>
  </div>

  <div class="row right">
    <%= link_to "Cancelar", :back, {:class=>"btn btn-default"} %>
    <%= f.submit nil, :class => 'btn btn-default'%>
  </div>
  <% end %>
</div>
