<div class="row">
	<h3 style = "text-align: center"> Ubicaciones </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th style = "text-align: center;">Nombre</th>
          <th style = "text-align: center;">Clave</th>
          <th style = "text-align: center;">Capacidad</th>
          <th style = "text-align: center;">Dimensiones</th>
          <th style = "text-align: center;">Horario</th>
          <th style = "text-align: center;">Croquis</th>
          <th style = "text-align: center;">Editar</th>
          <th style = "text-align: center;">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <%@ubicaciones.each do |u|%>
        <tr>
          <td style = "text-align: center;"><%=u.zona + ' - ' + u.nombre%></td>
          <td style = "text-align: center;"><%=u.codigo%></td>
          <td style = "text-align: center;"><%=u.capacidad%></td>
          <td style = "text-align: center;"><%=u.ancho%> m. x <%=u.alto%> m.</td>
          <td style = "text-align: center;"><%=(u.horario_inicio).strftime("%I:%M %p")%> - <%=(u.horario_fin).strftime("%I:%M %p")%></td>
          <td style = "text-align: center;">
            <%if u.croquis_url != nil%>
              <%= link_to u.croquis_url, :class => "waves-effect waves-light btn" do %>
            <%= content_tag :i, 'location_on',  :class => "material-icons center"%>
            <%end%>
            <%end%>
          </td>
          <td style = "text-align: center;"><%= link_to edit_ubicacion_path(u), :class => "waves-effect waves-light btn" do %>
            <%= content_tag :i, 'edit',  :class => "material-icons center"%>
            <%end%>
          </td>
          <td style = "text-align: center;"><%= link_to ubicacion_path(u), :class => "waves-effect waves-light btn red", data: {confirm: "¿Estás seguro de eliminar la ubicación?"}, :method => :delete do %>
            <%= content_tag :i, 'delete',  :class => "material-icons center"%>
            <%end%></td>
        </tr>
        <%end%>
      </tbody>
    </table>
</div>

<div class="row center">
  <% if @ubicaciones.first != nil%>
  <%= will_paginate @ubicaciones, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
  <%end%>
</div>

<div class="row">
  <%= link_to "Regresar", "/admin/home", {:class=>"btn btn-default"} %>
  <a class="btn-floating btn-large waves-effect waves-light right" href="/ubicacions/new"><i class="material-icons">add</i></a>
</div>