<div class="row">
  <h3>Perfil</h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if devise_error_messages? %>
    <div class="row">
      <div class="card-panel red lighten-3">
        <%= devise_error_messages! %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 input-field">
      <label class = "active" for="user">Correo</label>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <%= f.password_field :password, autocomplete: "off" %>
      <label>Nueva contrase침a</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <label>Confirmaci칩n contrase침a</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <%= f.password_field :current_password, autocomplete: "off" %>
      <label>Contrase침a actual</label>
    </div>
  </div>

  <div class="row right">
    <div class="actions">
      <%= link_to "Cancelar", :back , :class => 'btn waves-effect waves-light'%>
      <%= f.submit "Actualizar", :class => 'btn waves-effect waves-light'%>
    </div>
  </div>
<% end %>

