<div class="row">
  <h3> Nuevo Grupo </h3>
</div>

<div class="row">
  <%= form_for @grupo, url: admin_in_grupos_path(@grupo) do |f| %>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :nombre, placeholder: "ACM Monterrey"%>
        <label class = "active">Nombre</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.email_field :email, placeholder: "acmmonterrey@gmail.com" %>
        <label class = "active">Correo</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :cuentaBanco, placeholder: "Mínimo 8 dígitos" %>
        <label class = "active">Cuenta Banco</label>
      </div>
      <div class="col s12 m6 input-field">
        <%= f.select :consejo, ['N/A', 'CCE', 'CSA', 'CARE', 'FEITESM']%>
        <label>Consejo</label>
      </div>
    </div>

    <%= f.hidden_field 'activo', :value => true %>
    <%= f.hidden_field 'password', :value => '12345678' %>
    <%= f.hidden_field 'password_confirmation', :value => '12345678' %>

    <div class="row right">
      <%= link_to "Cancelar", "/admin/grupos", {:class=>"btn btn-default"} %>
      <%= f.submit nil, :class => 'btn btn-default'%>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
     DependentFields.bind()
  });
  $("#new_grupo").validate({
    rules: {
      'grupo[email]': {
          required: true,
          email: true
      },
      'grupo[nombre]': {
        required: true
      },
      'grupo[cuentaBanco]': {
        required: true,
        digits: true,
        minlength: 8,
        maxlength: 8
      },
      'grupo[consejo]': {
        required: true
      },
    },
    messages: {
      'grupo[email]':{
          required: "Campo obligatorio",
          email: "Se requiere un correo válido"
      },
      'grupo[nombre]': {
        required: "Campo obligatorio"
      },
      'grupo[cuentaBanco]': {
        required: "Campo obligatorio",
        digits: "Solo se permiten dígitos",
        minlength: "Solo 8 dígitos",
        maxlength: "Solo 8 dígitos"
      },
      'grupo[consejo]': {
        required: "Campo obligatorio"
      },
    },
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>