<div class="row">
  <h3>Perfil</h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if devise_error_messages? %>
    <div class="row">
      <div class="card-panel red lighten-3">
        <%= devise_error_messages! %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field">
      <label class = "active" for="user">Usuario</label>
      <%= f.email_field :email %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="input-field">
      <label for="password">Nueva contrase침a</label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <label for="password">Confirmaci칩n contrase침a</label>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
    <label for="password">Contrase침a actual</label>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row right">
    <div class="actions">
      <%= f.submit "Update", :class => 'btn waves-effect waves-light'%>
      <%= link_to "Cancelar", :back , :class => 'btn waves-effect waves-light'%>
    </div>
  </div>
<% end %>
