<%if current_admin%>
<div class="row">
	<h5>Grupo Estudiantil</h5>
	<div class="col s12 m6">
  		<span id="bold">Nombre: </span><span><%=@grupo.nombre%></span><p></p>
  		<span id="bold">Correo: </span><span><%=@grupo.email%></span><p></p>
  		<span id="bold">Cuenta: </span><span><%=@grupo.cuentaBanco%></span><p></p>
	</div>
</div>
<div class="divider"></div><br>
<%end%>
<div class="row">
	<h5>Estatus</h5>
	<div class="col s12 m6">
		<span id="bold">Fecha Registro: </span><span><%=(@evento.created_at).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
	</div>
	<div class="col s12 m6">
		<span id="bold">Fecha Última Actualización: </span><span><%=(@evento.updated_at).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
	</div>
</div>
<div class="row center">
	<div class="col s12 m4 center">
		<%if not @evento.aprobadoConsejo%>
			<a class="btn tooltipped orange" href="#consejo" data-position="bottom" data-delay="50" data-tooltip="En Progreso"><i class="material-icons left">schedule</i>Consejo</a><br><br>
		<%else%>
			<a class="btn tooltipped green" href="#consejo" data-position="bottom" data-delay="50" data-tooltip="Autorizado"><i class="material-icons left">done</i>Consejo</a><br>
			<p><b>Aprobado por:</b> <%=@evento.nombreAprobadoConsejo%></p>
			<p><b>Fecha:</b> <%=@evento.fechaAprobadoConsejo.strftime("%d/%m/%Y %I:%M %p")%></p>
		<%end%>
	</div>
	<div class="col s12 m4 center">
		<%if not @evento.aprobadoLogistica%>
			<a class="btn tooltipped orange" href="#logistica" data-position="bottom" data-delay="50" data-tooltip="En Progreso"><i class="material-icons left">schedule</i>Logística</a><br><br>
		<%else%>
			<a class="btn tooltipped green" href="#logistica" data-position="bottom" data-delay="50" data-tooltip="Autorizado"><i class="material-icons left">done</i>Logística</a><br>
			<p><b>Aprobado por:</b> <%=@evento.nombreAprobadoLogistica%></p>
			<p><b>Fecha:</b> <%=@evento.fechaAprobadoLogistica.strftime("%d/%m/%Y %I:%M %p")%></p>
		<%end%>
	</div>
	<div class="col s12 m4 center">
		<%if not @evento.aprobadoFinanzas%>
			<a class="btn tooltipped orange" href="#finanzas" data-position="bottom" data-delay="50" data-tooltip="En Progreso"><i class="material-icons left">schedule</i>Finanzas</a>
		<%else%>
			<a class="btn tooltipped green" href="#finanzas" data-position="bottom" data-delay="50" data-tooltip="Autorizado"><i class="material-icons left">done</i>Finanzas</a><br>
			<p><b>Aprobado por:</b> <%=@evento.nombreAprobadoFinanzas%></p>
			<p><b>Fecha:</b> <%=@evento.fechaAprobadoFinanzas.strftime("%d/%m/%Y %I:%M %p")%></p>
		<%end%>
	</div>
</div>
<div class="divider"></div><br>
<div class="row">
	<h5>Evento</h5>
	<div class="col s12 m6">
		<span id="bold">Número de Asistentes: </span><span><%=@evento.numAsistentes%></span><p></p>
	</div>
	<div class="col s12 m6">
		<span id="bold">Tipo de Evento: </span><span><%=@evento.tipoEvento%></span><p></p>
	</div>
	<div class="col s12">
		<span id="bold">Descripción: </span><br><span><%=@evento.descripcion%></span><p></p>
	</div>
	<div class="col s12 m6">
		<span id="bold">Fecha Inicio: </span><span><%=(@evento.fechaInicio).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
		<span id="bold">Fecha Fin: </span><span><%=(@evento.fechaFin).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
	</div>
	<div class="col s12 m6">
		<span id="bold">Hora Inauguración: </span><span><%=(@evento.horaInauguracion).strftime("%I:%M %p")%></span><p></p>
	</div>
</div>
<div class="row center">
	<%= link_to 'Cancelar Evento', evento_path(@evento.id), :class => "waves-effect waves-light btn red", data: {confirm: "¿Estás seguro de cancelar este evento?"}, :method => :cancel%>
</div>
