<div class="row">
	<div class="row">
	<h5>Ubicación</h5>
	<h6>Aqui pueden reservar su espacio para su evento y solicitar una cita para revisar lo que necesiten para su evento. Al revisar estos datos su estatus de logistica cambiara a 'Revisando' y hasta que se presenten en Centro Estudiantil y se autorizen todas sus solicitudes, su estatus cambiara a 'Aprobado'.</h6>
	<h6>IMPORTANTE: Nada de lo que se reserve en este sistema confirma su reserva hasta que su estatus de logistica este en 'Aprobado'.</h6><br><br>
		<div class="col s12 m6">
			<span id="bold">Fecha Inicio: </span><span><%=(@evento.fechaInicio).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
    		<span id="bold">Fecha Fin: </span><span><%=(@evento.fechaFin).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
		</div>
		<div class="col s12 m6">
			<span id="bold">Hora Inauguración: </span><span><%=(@evento.horaInauguracion).strftime("%I:%M %p")%></span><p></p><p></p>
		</div>
	</div>
	<%= simple_form_for @evento, :url => url_for(:controller => 'eventos', :action => 'reservar', :id => @evento.id) do |f| %>
	<div class="row">
		<div class="col s12 m4 center">
			<label>Ubicación Sede:</label>
		    <%= f.input :ubicacion , as: :select, label: false, collection: @nombres%>
		    <%= f.submit 'Reservar', :class => 'btn btn-default'%><br><br>
		</div>
		<% end %>
		<div class="col s12 m7 right">
			<div class="slider">
			    <ul class="slides">
			    	<%@ubicaciones.each do |u|%>
			    		<li>
				        <img class="materialboxed" src=<%=u.croquis_url%>> 
				        <div class="caption right-align">
				          <h3 class="black-text"><%=u.zona%></h3>
				          <h5 class="light black-text text-lighten-3"><%=u.capacidad%></h5>
				        </div>
				      </li>
			    	<%end%>
			    </ul>
			  </div>
		</div>
	</div>
</div>
<div class="divider"></div><br>
<div class="row">
	<h5>Materiales</h5>
		<%= simple_form_for @evento do |f| %>
		<div class="row center">
			<div class="col s12 m4">
				<p>
			      <input type="checkbox" class="filled-in" id="mobiliario" />
			      <label for="mobiliario">Mobiliario</label>
			    </p>
			</div>
			<div class="col s12 m4">
				<p>
			      <input type="checkbox" class="filled-in" id="audiovisual" />
			      <label for="audiovisual">Equipo Audiovisual</label>
			    </p>
			</div>
		</div>
		<div class="row right">
			<%= f.submit 'Solicitar Cita', :class => 'btn btn-default'%><br><br>
			<% end %>	
		</div>
	</div>