<%if current_grupo%>
<div class="row">
	<div class="row">
	<h5>Ubicación</h5>
	<h6>Aquí pueden reservar el espacio para su evento y solicitar una cita para revisar lo que necesiten para el mismo. Al revisar estos datos su estatus de Logística cambiará a 'Revisando' y hasta que se presenten en Centro Estudiantil y se autorizen todas sus solicitudes, su estatus cambiará a 'Aprobado'.</h6>
	<h6>IMPORTANTE: Nada de lo que se reserve en este sistema confirma su reserva hasta que su estatus de Logística esté en 'Aprobado'.</h6>
	</div>
	<%if @evento.sede_id == nil%>
		<% @controller_action = 'reservar'%>
	<%else%>
		<% @controller_action = 'reservar_cambio'%>
	<%end%>
	<%= simple_form_for @evento, :url => url_for(:controller => 'eventos', :action => @controller_action, :id => @evento.id) do |f| %>
<div class="row">
		<div class="col s12 m6">
			<h6><b>Evento:</b></h6>
			<div class="col s12 m6">
				<span id="bold">Número de Asistentes: </span><span><%=@evento.numAsistentes%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Tipo de Evento: </span><span><%=@evento.tipoEvento%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Fecha Inicio: </span><span><%=(@evento.fechaInicio).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Fecha Fin: </span><span><%=(@evento.fechaFin).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Hora Inauguración: </span><span><%=(@evento.horaInauguracion).strftime("%I:%M %p")%></span><p></p>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="col s12">
			<h6><b>Ubicación Sede:</b></h6>
			<%= f.input :sede_id , label: false, collection: @ubicaciones, :label_method => lambda {|u| u.zona + ' - ' + u.nombre}, prompt: 'Selecciona ubicación', :input_html => { :class =>"form-control", :id => 'ubicacion_select' }%>
			<%for x in @ubicaciones%>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Zona: </span><span><%=x.zona%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Capacidad: </span><span><%=x.capacidad%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Hora Apertura: </span><span><%=(x.horario_inicio).strftime("%I:%M %p")%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Hora Cierre: </span><span><%=(x.horario_fin).strftime("%I:%M %p")%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 center">
					<img class="materialboxed center" data-caption="Croquis" width="250" src=<%=x.croquis_url%>>
				</div>
			</div>
			<%end%>
			</div>
			<div class="col s12"><p></p></div>
			<div class="col s6">
				<%if @evento.sede_id == nil%>
					<%= f.submit 'Reservar', :class => 'btn btn-default'%><br><br>
					<%else%>
					<%= f.submit 'Cambiar Reservación', :class => 'btn btn-default'%><br><br>
					<%end%>
					<% end %>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div><br>
<div class="row">
	<h5>Materiales</h5>
	<%= form_for @evento do |f| %>
	<div class="row center">
		<div class="col s12 m4">
			<p>
				<%= f.check_box :materiales %>
				<%= f.label(:materiales, "Mobiliario") %>
		    </p>
		</div>
		<div class="col s12 m4">
			<p>
				<%= f.check_box :audiovisual %>
				<%= f.label(:audiovisual, "Equipo Audiovisual") %>
		    </p>
		</div>
	</div>
	<div class="row right">
		<%= f.submit 'Guardar Materiales', :class => 'btn btn-default'%><br><br>
		<% end %>	
	</div>
</div>
<%if @avisos_logistica.count > 0%>
<div class="divider"></div><br>
	<div class="row">
		<div class="col s12">
			<h5>Avisos Enviados</h5>
			<table class="bordered highlight responsive-table">
	      <thead>
	        <tr>
	          <th style = "text-align: center;">Remitente</th>
	          <th style = "text-align: center;">Fecha</th>
	          <th style = "text-align: center;">Asunto</th>
	          <th style = "text-align: center;">Mensaje</th>
	        </tr>
	      </thead>

	      <tbody>
	        <%@avisos_logistica.each do |a|%>
	        <tr>
	          <td style = "text-align: center;"><%=a.remitente%></td>
	          <td style = "text-align: center;"><%=a.created_at.strftime("%d/%m/%Y %I:%M %p")%></td>
	          <td style = "text-align: center;"><%=a.titulo%></td>
	          <td style = "text-align: center;"><%=a.mensaje%></td>
	        </tr>
	        <%end%>
        </tbody>
      </table>
		</div>
	</div>
	<%end%>
<!--............................................................................................................-->
<%else%>
<div class="row">
	<div class="row">
		<h5>Autorización</h5>
		<h6>Aquí puedes aprobar este evento por parte del departamento de Logística.</h6><br>
		<div class="col s12 center">
			<%= form_for @evento do |f| %>
			<% if not @evento.aprobadoLogistica and @admin.puesto == 'Logística'%>
          <%= f.hidden_field 'aprobadoLogistica', :value => true %>
          <%= f.hidden_field 'nombreAprobadoLogistica', :value => @admin.nombre + ' ' + @admin.apellido%>
          <%= f.hidden_field 'fechaAprobadoLogistica', :value => Time.now %>
          <%= f.submit 'Autorizar', :class => "waves-effect waves-light btn green", data: {confirm: "Una vez autorizado, no se puede cancelar esta autorización"}%>
        <% else %>
          <%= f.submit 'Autorizar', :class => "waves-effect waves-light btn green disabled"%>
        <%end%>
      <% end %>
		</div>
	</div>
	<div class="divider"></div><br>
	<div class="row">
	<h5>Ubicación</h5>
	<h6>Aquí pueden reservar el espacio para su evento y solicitar una cita para revisar lo que necesiten para el mismo. Al revisar estos datos su estatus de Logística cambiará a 'Revisando' y hasta que se presenten en Centro Estudiantil y se autorizen todas sus solicitudes, su estatus cambiará a 'Aprobado'.</h6>
	<h6>IMPORTANTE: Nada de lo que se reserve en este sistema confirma su reserva hasta que su estatus de Logística esté en 'Aprobado'.</h6>
	</div>
	<%if @evento.sede_id == nil%>
		<% @controller_action = 'reservar'%>
	<%else%>
		<% @controller_action = 'reservar_cambio'%>
	<%end%>
	<%= simple_form_for @evento, :url => url_for(:controller => 'eventos', :action => @controller_action, :id => @evento.id) do |f| %>
	<div class="row">
		<div class="col s12 m6">
			<h6><b>Evento:</b></h6>
			<div class="col s12 m6">
				<span id="bold">Número de Asistentes: </span><span><%=@evento.numAsistentes%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Tipo de Evento: </span><span><%=@evento.tipoEvento%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Fecha Inicio: </span><span><%=(@evento.fechaInicio).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Fecha Fin: </span><span><%=(@evento.fechaFin).strftime("%d/%m/%Y %I:%M %p")%></span><p></p>
			</div>
			<div class="col s12 m6">
				<span id="bold">Hora Inauguración: </span><span><%=(@evento.horaInauguracion).strftime("%I:%M %p")%></span><p></p>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="col s12">
			<h6><b>Ubicación Sede:</b></h6>
			<%= f.input :sede_id , label: false, collection: @ubicaciones, :label_method => lambda {|u| u.zona + ' - ' + u.nombre}, prompt: 'Selecciona ubicación', :input_html => { :class =>"form-control", :id => 'ubicacion_select' }%>
			<%for x in @ubicaciones%>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Zona: </span><span><%=x.zona%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Capacidad: </span><span><%=x.capacidad%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Hora Apertura: </span><span><%=(x.horario_inicio).strftime("%I:%M %p")%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 m6">
					<span id="bold">Hora Cierre: </span><span><%=(x.horario_fin).strftime("%I:%M %p")%></span><p></p>
				</div>
			</div>
			<div class="js-dependent-fields" data-select-id='ubicacion_select' data-option-value='<%=x.id%>'>
				<div class="col s12 center">
					<img class="materialboxed center" data-caption="Croquis" width="250" src=<%=x.croquis_url%>>
				</div>
			</div>
			<%end%>
			</div>
			<div class="col s12"><p></p></div>
			<div class="col s6">
				<%if @admin.puesto == 'Logística'%>
				<%if @evento.sede_id == nil%>
					<%= f.submit 'Reservar', :class => 'btn btn-default'%><br><br>
					<%else%>
					<%= f.submit 'Cambiar Reservación', :class => 'btn btn-default'%><br><br>
					<%end%>
					<%else%>
					<%if @evento.sede_id == nil%>
					<%= f.submit 'Reservar', :class => 'btn btn-default disabled'%><br><br>
					<%else%>
					<%= f.submit 'Cambiar Reservación', :class => 'btn btn-default disabled'%><br><br>
					<%end%>
					<%end%>
					<% end %>
			</div>
			<div class="col s6 right">
				<%if @admin.puesto == 'Logística'%>
				<%= simple_form_for @evento, :url => url_for(:controller => 'eventos', :action => 'cancel', :id => @evento.id) do |f| %>
					<% if @evento.sede_id != nil %>
						<%= f.hidden_field 'sede_id', :value => nil %>
			      <%= f.submit 'Cancelar reservación', :class => "waves-effect waves-light btn red"%>
			     <%end%>
			    <%end%>
			  <%else%>
			  <%= simple_form_for @evento, :url => url_for(:controller => 'eventos', :action => 'cancel', :id => @evento.id) do |f| %>
					<% if @evento.sede_id != nil %>
						<%= f.hidden_field 'sede_id', :value => nil %>
			      <%= f.submit 'Cancelar reservación', :class => "waves-effect waves-light btn red disabled"%>
			     <%end%>
			    <%end%>
			  <%end%>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div><br>
<div class="row">
	<h5>Materiales</h5>
	<%= form_for @evento do |f| %>
	<div class="row center">
		<div class="col s12 m4">
			<p>
				<%= f.check_box :materiales, disabled: true %>
				<%= f.label(:materiales, "Mobiliario") %>
		    </p>
		</div>
		<div class="col s12 m4">
			<p>
				<%= f.check_box :audiovisual, disabled: true %>
				<%= f.label(:audiovisual, "Equipo Audiovisual") %>
		    </p>
		</div>
	</div>
	<div class="row right">
		<%= f.submit 'Guardar Materiales', :class => 'btn btn-default disabled'%><br><br>
		<% end %>	
	</div>
</div>
	<div class="divider"></div><br>
	<div class="row">
		<div class="col s12">
			<h5>Aviso</h5>
			<h6>Aquí pueden enviar algún aviso a un evento.</h6>
			<%= simple_form_for Aviso.new, html: { id: 'new_aviso_logistica' }, :url => url_for(:controller => 'eventos', :action => 'aviso', :id => @evento.id) do |f| %>
				<div class="row">
			    <div class="col s12 input-field">
			      <%= f.text_field :titulo, label: false, placeholder: "Enviar documento"%>
			      <label class = "active">Asunto</label>
			    </div>
			  </div>
	      <div class="row">
	        <div class="col s12 input-field">
      			<%= f.input :mensaje, as: :text, label: false, placeholder: 'Favor de subir los documentos pendientes lo antes posible', input_html: { class: 'materialize-textarea'}%>
      			<label class = "active">Mensaje</label>
	        </div>
	      </div>
	      <%= f.hidden_field 'departamento', :value => 'Logística' %>
	      <%= f.hidden_field 'consejo', :value => @grupo.consejo %>
	      <%= f.hidden_field 'remitente', :value => @admin.nombre + ' ' + @admin.apellido %>
	      <div class="row center">
	      <%if @admin.puesto == 'Logística'%>
	      	<%= f.submit 'Enviar', :class => "waves-effect waves-light btn"%>
	      <%else%>
	      	<%= f.submit 'Enviar', :class => "waves-effect waves-light btn disabled"%>
	      <%end%>
	      </div>
	    <%end%>
		</div>
	<%if @avisos_logistica.count > 0%>
	<div class="row">
		<div class="col s12">
			<h5>Avisos Enviados</h5>
			<table class="bordered highlight responsive-table">
	      <thead>
	        <tr>
	          <th style = "text-align: center;">Remitente</th>
	          <th style = "text-align: center;">Fecha</th>
	          <th style = "text-align: center;">Asunto</th>
	          <th style = "text-align: center;">Mensaje</th>
	        </tr>
	      </thead>

	      <tbody>
	        <%@avisos_logistica.each do |a|%>
	        <tr>
	          <td style = "text-align: center;"><%=a.remitente%></td>
	          <td style = "text-align: center;"><%=a.created_at.strftime("%d/%m/%Y %I:%M %p")%></td>
	          <td style = "text-align: center;"><%=a.titulo%></td>
	          <td style = "text-align: center;"><%=a.mensaje%></td>
	        </tr>
	        <%end%>
        </tbody>
      </table>
		</div>
	</div>
	<%end%>
</div>
<%end%>
<script>
  $(document).ready(function() {
     DependentFields.bind()
  });
  $("#new_aviso_logistica").validate({
    rules: {
      'aviso[titulo]': {
        required: true
      },
      'aviso[mensaje]': {
        required: true
      },
    },
    messages: {
      'aviso[titulo]':{
        required: "Campo obligatorio"
      },
      'aviso[mensaje]': {
        required: "Campo obligatorio"
      },
    },
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>