<div class="row">
	<h3> Nuevo evento</h3>
</div>


<div class="row>"> 
  <%= simple_form_for @evento do |f| %>

  <div class="row">
    <div class="col s12">
      <label>Nombre</label>
      <%= f.text_field :nombre, placeholder: "HackMTY"%>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <label>Número de Asistentes</label>
      <%= f.input :numAsistentes, :as => "integer", label: false%>
    </div>
    <div class="col s12 m6">
      <label>Tipo de Evento</label>
      <%= f.input :tipoEvento , as: :select, label: false, collection:["Foro","Congreso","Simposium","Conferencia","Taller","Concurso","Elección","Cierre de Campaña","Junta de Integración de Planilla","Debate","Acto Cívico","Servicio Social","Campamento","Recaudación de Fondos","Recaudación de Víveres","Actividad de Concientización","Visita","Celebración","Entrega de Reconocimiento","Recreativo","Fiesta Segura","Días","Integración","Junta","Desayuno/Comida/Cena","Viaje Estudiantil","Promocional","Cultural","Deportivo","Activación Comercial","Vendimia","Rifa","Toma de Protesta","Focus Group"]%>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <label>Descripción detallada</label>
      <%= f.input :descripcion, as: :text, label: false, input_html: { class: 'materialize-textarea'}%>
    </div>
  </div>

  <div class="row">
      <label>Fecha Inicio (Día/Mes/Año Hora/Min)</label>
      <%= f.input :fechaInicio, as: :datetime, label: false, datetime_separator: "", time_separator: "", input_html: { class: 'col s12 m4'}, start_year: Date.today.year, end_year: Date.today.year+1%>
  </div>

  <div class="row">
      <label>Fecha Fin (Día/Mes/Año Hora/Min)</label>
      <%= f.input :fechaFin, as: :datetime, label: false, datetime_separator: "", time_separator: "", input_html: { class: 'col s12 m4'}, start_year: Date.today.year, end_year: Date.today.year+1%>
  </div>
  <div class="row">
    <label>Hora Inauguración (Hora/Min)</label>
    <%= f.input :horaInauguracion, as: :time, label: false, time_separator: "", input_html: { class: 'col s12 m4'}%>
  </div>

  <%= f.hidden_field 'estatus', :value => 'pendiente' %>

  <div class="row center">
    <%= link_to "Cancelar", :back, {:class=>"btn btn-default"} %>
    <%= f.submit nil, :class => 'btn btn-default'%>
  </div>
  <% end %>
</div>
