<div class="row">
  <h4>Hola <%=@grupo.email%>,</h4>
</div>
<!--Notificaciones-->
<div class="row">
  <h5>Avisos:</h5>
  <div class="collection">
    <a href="#" class="collection-item">Alvin</a>
  </div>
</div>

<div class="row center">
  <%= link_to "Crear Evento", "/eventos/new" , :class => 'waves-effect waves-light btn'%>
</div>
<!--Eventos de la semana-->
<div class="row">
  <div class="col s12">
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Responsable</th>
          <th>Estatus</th>
          <th>Editar</th>
        </tr>
      </thead>

      <tbody>
        <%@eventos.each do |evento|%>
        <tr>
        <td><%=evento.fechaInicio%></td>
          <td><%=evento.nombre%></td>
          <td>Alvin</td>
          <td><%=evento.estatus %></td>
          <td><%= link_to 'Editar evento', edit_evento_path(evento) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>