<div class="col s12 m6">
  <h5 style="text-align: center">Eventos Esta Semana:</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_1.length%></span><%=@day_1.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_1.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_2.length%></span><%=@day_2.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_2.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_3.length%></span><%=@day_3.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_3.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_4.length%></span><%=@day_4.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_4.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_5.length%></span><%=@day_5.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_5.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_6.length%></span><%=@day_6.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_6.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge" data-badge-caption=""><%=@events_day_7.length%></span><%=@day_7.strftime("%A - %d/%m/%Y")%></div>
      <div class="collapsible-body">
        <ul class="collection">
          <%@events_day_7.each do |evento|%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CCE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons red-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CSA'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons purple-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'CARE'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons orange-text">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'FEITESM'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons blue-text text-darken-4">send</i></a></div></li>
            <%end%>
            <% if (Grupo.joins(:eventos).where('grupos.id' => evento.grupo_id)).first.consejo == 'N/A'%>
            <li class="collection-item"><div><%=evento.nombre%><a href="/eventos/<%=evento.folio%>" class="secondary-content"><i class="material-icons grey-text">send</i></a></div></li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </li>
  </ul>
</div>