<div class="row">
	<h3> Administradores </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Departamento</th>
        <th>Consejo</th>
        <th>Extensión</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>
      <%@administradors.each do |administrador|%>
      <tr>
        <td><%=administrador.nombre%></td>
        <td><%=administrador.correo%></td>
        <td><%=administrador.departamento%></td>
        <td><%=administrador.consejo%></td>
        <td><%=administrador.extension%></td>
        <td><%= link_to 'Editar administrador', edit_administrador_path(administrador) %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="row">
	<%= will_paginate @admins %>
  <a class="btn-floating btn-large waves-effect waves-light right" href="/administrador/new"><i class="material-icons">add</i></a>
</div>