<div class="row">
	<h3> Editar Administrador </h3>
</div>

<div class="row">
  <%= form_for @edit_admin, url: admin_admin_index_path(@edit_admin) do |f| %>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :nombre, placeholder: "Alejandra"%>
        <label>Nombre</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :apellido, placeholder: "Garza" %>
        <label>Apellido</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.select :consejo, ['CCE', 'CSA', 'CARE', 'FEITESM', 'N/A'], :selected => @edit_admin.consejo %>
        <label>Consejo</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.select :puesto, ['Logística', 'Finanzas', 'Administración'], :selected => @edit_admin.puesto %>
        <label>Puesto</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :extension, placeholder: "4653" %>
        <label>Extensión</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :oficina, placeholder: "CE-211" %>
        <label>Oficina</label>
      </div>
    </div>

    <div class="row right">
      <%= link_to "Cancelar", "/admin/admins", {:class=>"btn btn-default"} %>
      <%= f.submit "Actualizar", :class => 'btn btn-default'%>
    </div>
  <% end %>
</div>