<div class="row">
	<h3 style = "text-align: center"> Eventos </h3>
</div>

<div class="row">
  <% if current_page?(admin_eventos_url)%>
  <ul id="dropdown2" class="dropdown-content">
    <% if :consejo.blank? %>
    <li ><%=link_to "aprobado", admin_eventos_url(:estatus => "aprobado")%></li>
    <li ><%=link_to "pendiente", admin_eventos_url(:estatus => "pendiente")%></li>
    <li ><%=link_to "cancelado", admin_eventos_url(:estatus => "cancelado")%></li>
    <% else %>
    <li ><%=link_to "aprobado", admin_eventos_url(:estatus => "aprobado",:consejo => @consejo)%></li>
    <li ><%=link_to "pendiente", admin_eventos_url(:estatus => "pendiente", :consejo => @consejo)%></li>
    <li ><%=link_to "cancelado", admin_eventos_url(:estatus => "cancelado", :consejo => @consejo)%></li>
    <%end%>
  </ul>
  <%end%>
  <!--Admin Navbar-->
  <% if current_page?(admin_eventos_url)%>
  <ul id="dropdown3" class="dropdown-content">
  <% if :estatus.blank? %>
    <li ><%=link_to "CCE", admin_eventos_url(:consejo => "CCE")%></li>
    <li ><%=link_to "CSA", admin_eventos_url(:consejo => "CSA")%></li>
    <li ><%=link_to "CARE", admin_eventos_url(:consejo => "CARE")%></li>
    <li ><%=link_to "FEITESM", admin_eventos_url(:consejo => "FEITESM")%></li>
    <li ><%=link_to "N/A", admin_eventos_url(:consejo => "N/A")%></li>
    <% else %>
    <li ><%=link_to "CCE", admin_eventos_url(:consejo => "CCE", :estatus => @estatus)%></li>
    <li ><%=link_to "CSA", admin_eventos_url(:consejo => "CSA", :estatus => @estatus)%></li>
    <li ><%=link_to "CARE", admin_eventos_url(:consejo => "CARE", :estatus => @estatus)%></li>
    <li ><%=link_to "FEITESM", admin_eventos_url(:consejo => "FEITESM", :estatus => @estatus)%></li>
    <li ><%=link_to "N/A", admin_eventos_url(:consejo => "N/A", :estatus => @estatus)%></li>
    <%end%>
  </ul>
  <%end%>
  <ul id="nav-mobile2" class="right hide-on-med-and-down">
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Filtrar por estatus<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>
  <ul id="nav-mobile2" class="right hide-on-med-and-down">
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Filtrar por consejo<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th style = "text-align: center;">Folio</th>
          <th style = "text-align: center;">Nombre</th>
          <th style = "text-align: center;">Fecha Inicio</th>
          <th style = "text-align: center;">Fecha Fin</th>
          <th style = "text-align: center;">Responsable</th>
          <th style = "text-align: center;">Estatus</th>
          <th style = "text-align: center;">Revisar</th>
        </tr>
      </thead>

      <tbody>
        <%@eventos.each do |e|%>
        <tr>
          <td style = "text-align: center;"><%=e.folio%></td>
          <% if (Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.consejo == 'CCE'%>
            <td style = "text-align: center;"><a class="waves-effect waves-light btn red"><%=e.nombre%></a></td>
          <%end%>
          <% if (Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.consejo == 'CSA'%>
            <td style = "text-align: center;"><a class="waves-effect waves-light btn purple"><%=e.nombre%></a></td>
          <%end%>
          <% if (Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.consejo == 'CARE'%>
            <td style = "text-align: center;"><a class="waves-effect waves-light btn orange"><%=e.nombre%></a></td>
          <%end%>
          <% if (Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.consejo == 'FEITESM'%>
            <td style = "text-align: center;"><a class="waves-effect waves-light btn blue darken-4"><%=e.nombre%></a></td>
          <%end%>
          <% if (Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.consejo == 'N/A'%>
            <td style = "text-align: center;"><a class="waves-effect waves-light btn grey"><%=e.nombre%></a></td>
          <%end%>
          <td style = "text-align: center;"><%=(e.fechaInicio).strftime("%d/%m/%Y %I:%M %p")%></td>
          <td style = "text-align: center;"><%=(e.fechaFin).strftime("%d/%m/%Y %I:%M %p")%></td>
          <td style = "text-align: center;"><%=(Grupo.joins(:eventos).where('grupos.id' => e.grupo_id)).first.nombre%></td>
          <%if e.aprobadoConsejo and e.aprobadoLogistica and e.aprobadoFinanzas%>
            <td style = "text-align: center"><a class="btn tooltipped green" data-position="bottom" data-delay="50" data-tooltip="Autorizado"><i class="material-icons center">done</i></a></td>
          <%elsif e.estatus == 'cancelado'%>
            <td style = "text-align: center"><a class="btn tooltipped red" data-position="bottom" data-delay="50" data-tooltip="Cancelado"><i class="material-icons center">not_interested</i></a></td>
          <%else %>
            <td style = "text-align: center"><a class="btn tooltipped orange" data-position="bottom" data-delay="50" data-tooltip="En Progreso"><i class="material-icons center">stop</i></a></td>
          <%end%>
          <%if e.estatus != 'cancelado'%>
            <td style = "text-align: center;"><%= link_to edit_evento_path(e.folio), :class => "waves-effect waves-light btn" do %>
              <%= content_tag :i, 'edit',  :class => "material-icons center"%>
              <%end%></td>
          <%else%>
            <td style = "text-align: center;"><%= link_to edit_evento_path(e.folio), :class => "waves-effect waves-light btn disabled" do %>
              <%= content_tag :i, 'edit',  :class => "material-icons center"%>
              <%end%></td>
          <%end%>
        </tr>
        <%end%>
      </tbody>
    </table>
</div>

<%= link_to "Regresar", '/admin/home', {:class=>"btn btn-default"} %>