<div class="row">
	<h3> Grupos </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Consejo</th>
        <th>Cuenta Banco</th>
        <th>Correo</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <%@grupos.each do |g|%>
      <tr>
        <td><%=g.nombre%></td>
        <td><%=g.consejo%></td>
        <td><%=g.cuentaBanco%></td>
        <td><%=g.email%></td>
        <td><%= link_to edit_admin_in_grupo_path(g), :class => "waves-effect waves-light btn" do %>
        <%= content_tag :i, 'edit',  :class => "material-icons center"%>
        <%end%></td>
        <td><%= link_to admin_in_grupos_path(g), :class => "waves-effect waves-light btn red", data: {confirm: "¿Estas seguro?"}, :method => :delete do %>
        <%= content_tag :i, 'delete',  :class => "material-icons center"%>
        <%end%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="row center">
  <%= will_paginate @grupos, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>

<div class="row">
  <%= link_to "Regresar", "/admin/home", {:class=>"btn btn-default"} %>
  <a class="btn-floating btn-large waves-effect waves-light right" href="/admin/grupo/new"><i class="material-icons">add</i></a>
</div>