<div class="row">
	<h3 style = "text-align: center"> Grupos </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th style = "text-align: center;">Nombre</th>
        <th style = "text-align: center;">Consejo</th>
        <th style = "text-align: center;">Cuenta Banco</th>
        <th style = "text-align: center;">Correo</th>
        <th style = "text-align: center;">Bloquear</th>
        <th style = "text-align: center;">Editar</th>
        <th style = "text-align: center;">Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <%@grupos.each do |g|%>
      <tr>
        <td style = "text-align: center;"><%=g.nombre%></td>
        <td style = "text-align: center;"><%=g.consejo%></td>
        <td style = "text-align: center;"><%=g.cuentaBanco%></td>
        <td style = "text-align: center;"><%=g.email%></td>
        <td style = "text-align: center;">
          <%= form_for g, :url => url_for(:controller => 'admin_in_grupos', :action => 'update_activo', :id => g.id) do |f| %>
            <% if g.activo %>
              <%= f.hidden_field 'activo', :value => false %>
              <%= f.hidden_field 'password', :value => '987654322' %>
              <%= f.hidden_field 'password_confirmation', :value => '987654322' %>
              <%= f.submit 'Bloquear', :class => "waves-effect waves-light btn red"%>
            <% else %>
              <%= f.hidden_field 'activo', :value => true %>
              <%= f.hidden_field 'password', :value => '12345678' %>
              <%= f.hidden_field 'password_confirmation', :value => '12345678' %>
              <%= f.submit 'Activar', :class => "waves-effect waves-light btn green"%>
            <%end%>
          <% end %>
        </td>
        <td style = "text-align: center;"><%= link_to edit_admin_in_grupo_path(g), :class => "waves-effect waves-light btn" do %>
        <%= content_tag :i, 'edit',  :class => "material-icons center"%>
        <%end%></td>
        <td style = "text-align: center;"><%= link_to admin_in_grupos_path(g), :class => "waves-effect waves-light btn red", data: {confirm: "¿Estás seguro de eliminar al grupo?"}, :method => :delete do %>
        <%= content_tag :i, 'delete',  :class => "material-icons center"%>
        <%end%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="row center">
  <%= will_paginate @grupos, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>

<div class="row">
  <%= link_to "Regresar", "/admin/home", {:class=>"btn btn-default"} %>
  <a class="btn-floating btn-large waves-effect waves-light right" href="/admin/grupo/new"><i class="material-icons">add</i></a>
</div>