<div class="row">
  <h4>Hola <%=@admin.nombre%>,</h4>
</div>

<div class="row">
  <div class="col s12 m4">
    <% if @admin.puesto == 'Logística'%>
      <div class="col s12" id='long'>
        <%= link_to "Ubicaciones", ubicacions_path() , :class => 'waves-effect waves-light btn-large'%>
      </div><br><br><br>
      <div class="col s12" id='long'>
        <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn-large'%>
      </div>
    <% elsif @admin.puesto == 'Administración'%>
      <div class="col s12" id='long'>
        <%= link_to "Ubicaciones", ubicacions_path() , :class => 'waves-effect waves-light btn-large'%>
      </div><br><br><br>
      <div class="col s12" id='long'>
        <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn-large'%>
      </div><br><br><br>
      <div class="col s12" id='long'>
        <%= link_to "Grupos", "/admin/grupos" , :class => 'waves-effect waves-light btn-large'%>
      </div><br><br><br>
      <div class="col s12" id='long'>
        <%= link_to "Administradores", "/admin/admins" , :class => 'waves-effect waves-light btn-large'%>
      </div><br><br><br>
    <% else %>
      <div class="col s12" id='long'>
        <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn-large'%>
      </div>
    <%end%>
  </div>
  <div class="col s12 m8">
    <%= render 'admin_in/eventos_esta_semana' %>
    <%= render 'admin_in/eventos_siguiente_semana' %>
  </div>
</div>