<div class="row">
  <h4>Hola <%=@admin.nombre%>,</h4>
</div>
<!--Notificaciones-->
<div class="row">
  <h5 style="text-align: center"><i>Notificaciones<i></h5>
  <div class="collection" style="text-align: center">
    <a href="#" class="collection-item">Alvin</a>
    <a href="#" class="collection-item">Alvin</a>
    <a href="#" class="collection-item">Alvin</a>
  </div>
</div>
<!--Eventos de la semana-->
<div class="row">
  <%= render 'admin_in/eventos_esta_semana' %>
  <%= render 'admin_in/eventos_siguiente_semana' %>
</div>
<!--Botones-->
<div class="row center">
  <% if @admin.puesto == 'Logística'%>
    <%= link_to "Ubicaciones", ubicacions_path() , :class => 'waves-effect waves-light btn'%>
    <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn'%>
  <% elsif @admin.puesto == 'Administración'%>
    <%= link_to "Ubicaciones", ubicacions_path() , :class => 'waves-effect waves-light btn'%>
    <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn'%>
    <%= link_to "Grupos", "/admin/grupos" , :class => 'waves-effect waves-light btn'%>
    <%= link_to "Administradores", "/admin/admins" , :class => 'waves-effect waves-light btn'%>
  <% else %>
    <%= link_to "Eventos", "/admin/eventos" , :class => 'waves-effect waves-light btn'%>
  <%end%>
</div>