<div class="row">
  <h3> Nuevo Administrador </h3>
</div>

<div class="row">
  <%= form_for @new_admin, url: admin_admin_index_path(@new_admin) do |f| %>

    <div class="row">
        <div class="col s12 input-field">
        <%= f.email_field :email, placeholder: "alejandra.garza@itesm.mx"%>
        <label class = "active">Correo</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :nombre, placeholder: "Alejandra"%>
        <label class = "active">Nombre</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :apellido, placeholder: "Garza"%>
        <label class = "active">Apellido</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :extension, placeholder: "4653" %>
        <label class = "active">Extensión</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :oficina, placeholder: "CE-211" %>
        <label class = "active">Oficina</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.select :puesto, ['Logística', 'Finanzas', 'Administración'], prompt: 'Selecciona una opción'%>
        <label>Puesto</label>
      </div>

      <div class="js-dependent-fields" data-select-id='admin_puesto' data-option-value='Administración'>
        <div class="col s12 m6 input-field">
          <%= f.select :consejo, ['CCE', 'CSA', 'CARE', 'FEITESM', 'N/A'], prompt: 'Selecciona una opción' %>
          <label>Consejo</label>
        </div>
      </div>
    </div>

    <%= f.hidden_field 'password', :value => '12345678' %>
    <%= f.hidden_field 'password_confirmation', :value => '12345678' %>

    <div class="row right">
      <%= link_to "Cancelar", "/admin/admins", {:class=>"btn btn-default"} %>
      <%= f.submit "Crear", :class => 'btn btn-default'%>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     DependentFields.bind()
  });
</script>