<div class="row">
  <h3> Nuevo Administrador </h3>
</div>

<div class="row">
  <%= form_for @new_admin, url: admin_admin_index_path(@new_admin) do |f| %>

    <div class="row">
        <div class="col s12 input-field">
        <%= f.email_field :email, placeholder: "alejandra.garza@itesm.mx"%>
        <label class = "active">Correo</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :nombre, placeholder: "Alejandra"%>
        <label class = "active">Nombre</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :apellido, placeholder: "Garza"%>
        <label class = "active">Apellido</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.text_field :extension, placeholder: "4653" %>
        <label class = "active">Extensión</label>
      </div>

      <div class="col s12 m6 input-field">
        <%= f.text_field :oficina, placeholder: "CE-211" %>
        <label class = "active">Oficina</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 input-field">
        <%= f.select :puesto, ['Logística', 'Finanzas', 'Administración']%>
        <label>Puesto</label>
      </div>

      <div class="js-dependent-fields" data-select-id='admin_puesto' data-option-value='Administración'>
        <div class="col s12 m6 input-field">
          <%= f.select :consejo, ['N/A', 'CCE', 'CSA', 'CARE', 'FEITESM']%>
          <label>Consejo</label>
        </div>
      </div>
    </div>

    <%= f.hidden_field 'password', :value => '12345678' %>
    <%= f.hidden_field 'password_confirmation', :value => '12345678' %>

    <div class="row right">
      <%= link_to "Cancelar", "/admin/admins", {:class=>"btn btn-default"} %>
      <%= f.submit "Crear", :class => 'btn btn-default'%>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
     DependentFields.bind()
  });
  $("#new_admin").validate({
    rules: {
      'admin[email]': {
          required: true,
          email: true
      },
      'admin[nombre]': {
        required: true
      },
      'admin[apellido]': {
        required: true
      },
      'admin[extension]': {
        required: true,
        digits: true,
        minlength: 4,
        maxlength: 4
      },
      'admin[oficina]': {
        required: true
      },
    },
    messages: {
      'admin[email]':{
          required: "Campo obligatorio",
          email: "Se requiere un correo válido"
      },
      'admin[nombre]': {
        required: "Campo obligatorio"
      },
      'admin[apellido]': {
        required: "Campo obligatorio"
      },
      'admin[extension]': {
        required: "Campo obligatorio",
        digits: "Solo se permiten dígitos",
        minlength: "Solo 4 dígitos",
        maxlength: "Solo 4 dígitos"
      },
      'admin[oficina]': {
        required: "Campo obligatorio"
      },
    },
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>