<!DOCTYPE html>
<html>
  <head>
    <title>SistemaGruposEstudiantiles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Latin alphabet characters-->
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  </head>

  <% if admin_signed_in? %>
  	<%= render 'layouts/adminNavBar' %>
  <% elsif grupo_signed_in? %>
  	<%= render 'layouts/grupoNavBar' %>
  <% else %>
  	<%= render 'layouts/homeNavBar' %>
  <% end %>

  <body>
  	<div class="container">
      <% if notice != nil && notice != '' %>
        <div class="card-panel blue lighten-4">
          <h6 class="notice"><%= notice %></h6>
        </div>
      <% end %>
      <% if alert != nil && alert != '' %>
        <div class="card-panel red lighten-3">
          <h6 class="alert"><%= alert %></h6>
        </div>
      <% end %>
	    <%= yield %>
    </div>
    <!--Import jQuery before materialize.js-->
      <script>
        $(".button-collapse").sideNav();
        $(document).ready(function() {
          $('select').material_select();
          $('.slider').slider({interval: 100000000000});
          $('.materialboxed').materialbox();
          $('.tooltipped').tooltip({delay: 50});
          $('ul.tabs').tabs();
          $('.collapsible').collapsible();
        });
        $('#textarea1').val('New Text');
        $('#textarea1').trigger('autoresize');
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 2 // Creates a dropdown of 15 years to control year
        });

      </script>
  </body>
</html>
